*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgb(63, 63, 148),rgb(146, 63, 63),rgb(142, 57, 71));
}
.timer-container{
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  background-color: maroon;
  border-radius: 40px;
}
h1{
  font-size: 5rem;
}
button{
  height: 10vh;
  width: 10vw;
  border-radius: 20px;
  cursor: pointer;
}